/*This is the body that holds all of my components*/
.App {
  text-align: left;
background-color: darkseagreen;
  /* align-items: center; */
  /* column-count: 3;
  column-gap: 10px;  */

  display: flex;
  /* justify-content: space-between; */


   /* position:absolute; 
   top:0;
  bottom:0; */


}


.Sightings-Management {
  text-align: left;
  background-color: green;
  column-span:inherit;
  /* position:absolute; */
  /* top:0;
  bottom:0; */
}

.wrap{
   align-items: center;
}

.Species-Management{
 
  background-color: pink;
  margin-left:2em;
  /* text-align: left;
  display: flex; */
  /* justify-content: space-between; */

  max-width: 1080 px;
  /* alight-self:center; */
}

.Individuals-Management{
  text-align: left;
  margin-left:2em;
  background-color: #61dafb;
  max-width: 1080 px;
  /* alight-self:center; */
}
