/*This is the body that holds all of my components*/
.App {
  background-image: url(https://cdn.nivoli.com/adventuregamers/images/screenshots/40387/20201219223136_1.jpg) ;
  text-align: left;
  background-color: darkseagreen;
  display: flex;


 
}


.Sightings-Management {
  text-align: left;
  background-color: rgba(48, 91, 59, 0.658);
  /* column-span:inherit; */
  color: aliceblue;
  /* position:absolute; */
  /* top:0;
  bottom:0; */
}

.wrap{
   align-items: center;
}

.Species-Management{
 
  background-color: rgba(48, 91, 59, 0.658);
  margin-left:2em;
  /* text-align: left;
  display: flex; */
  /* justify-content: space-between; */
  color: aliceblue;
  /* max-width: 1080 px; */
  /* alight-self:center; */
}

.Individuals-Management{
  text-align: left;
  margin-left:2em;
  background-color: rgba(48, 91, 59, 0.658);
  /* max-width: 1080 px; */
  color: aliceblue;
  /* alight-self:center; */
}

.image-size {
  padding: 10px;
  max-width: 80px;
  border-radius: 50%;
}

